<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ryan</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/landing.js"></script>
  </head>
   
  <body onload="loadLanding()">
  	<div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" id="landingImg">
        <!-- Nav Bar -->
          <div class="row">
            <div class="col-lg-12" id="landingNavbar">
              <img src="images/logo.png" alt="" id="landingNavbarImg">
              <span id="landingLoginBtn">Log-In</span>
              <span id="landingSignupBtn"><a href="http://localhost:3000/signup">Sign-Up</a></span>
            </div>
          </div>
          <!-- Overlay title and caption -->
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3" id="landingImgOverlay">
              <h1 id="landingTitle"> Project Mango</h1>
              <h3 id="landingCaption">See What All The Buzz Is About!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="input-group input-group-lg" id="landingSearchbar">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>