doctype html
html
extends layout

block content
    h1  #{title}
    p Welcome to #{title} 
    a(href='http://localhost:3000/about')
        button#aboutButton.btn.btn-default About
    .p#test(onclick="test()") Hey
    
            

