<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ryan</title>
  </head>
   
  <body>
  <button id="yo"> Hey WHATS UP</button>
  <div class="jumbotron" id="hey">woot</div>
    
  </body>
</html>