<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/ext-theme-neptune-all_01.css">
    	<link rel="stylesheet" type="text/css" href="stylesheets/ext-theme-neptune-all_02.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	    <script src="javascripts/global.js"></script>
	    <script src="javascripts/ext-all-debug.js"></script>
	    <script src="javascripts/bCrypt.js"></script>
	</head>

	<body>
		<div>
			<input type="textfield" id="loginUsername" placeholder="Username"/>
			<input type="textfield" id="loginPassword" placeholder="Password"/>
			<input type= "button" value="Login" id="loginButton"/>
		</div>

		<div>
			<input type="textfield" id="signUpUsername" placeholder="Please choose a username"/>
			<input type="textfield" id="signUpPassword" placeholder="Please choose a password"/>
			<input type="button" id="signUpButton" value="Sign Up"/>
		</div>
	</body>
</html>