extends layout

block content
	h1 Login
	input#loginUsername(type="textfield" placeholder="Username")
	input#loginPassword(type="textfield" placeholder="Password")
	input#loginButton(type="button" value="Login")
	br
	input#signUpUsername(type="textfield" placeholder="Please select a username")
	input#signUpPassword(type="textfield" placeholder="Please choose a password")
	input#signUpButton(type="button" value="Sign Up")