
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ryan</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ext-theme-neptune-all_01.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ext-theme-neptune-all_02.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/ext-all-debug.js"></script>
  </head>
   
  <body>
  	<p id="mapPanel" onclick="renderMapPanel()">Click Me To Test Google Maps API</p>
  	<div class="row" id="merpmerp"></div>
  </body>
</html>
    