<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Signup</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	    <script src="javascripts/global.js"></script>
	    <script src="javascripts/signup.js"></script>
	</head>
	<body>
		<p>hey</p>
	</body>
</html>