<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Signup</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	    <script src="javascripts/global.js"></script>
	    <script src="javascripts/signup.js"></script>
	</head>
	<body>
	<!-- FORM 1 -->
		<div class="container-fluid" id="signupFormContainer1">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupForm1">
						<p>hey</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupNextBtn1">
						<h4 id="signupNextBtnText1">Next Button</h4>
					</div>
				</div>
			</div>
		</div>

	<!-- FORM 2 -->
		<div class="container-fluid" id="signupFormContainer2">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupForm2">
						<p>hey</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3 col-sm-6 col-sm-offset-3">
					<div id="signupNextBtn2">
						<h4 id="signupBackBtnText2">Back Button</h4>
					</div>
				</div>
				<div class="col-lg-3 col-lg-offset-0 col-sm-6 col-sm-offset-0">
					<div id="signupNextBtn2">
						<h4 id="signupNextBtnText2">Next Button</h4>
					</div>
				</div>
			</div>
		</div>



			<div id="signupForm3"></div>
			<div id="signupForm4"></div>
			<div id="signupForm5"></div>
			<div id="signupForm6"></div>
	</body>
</html>