<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Signup</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	    <script src="javascripts/global.js"></script>
	    <script src="javascripts/signup.js"></script>
	</head>
	<body>
	<!-- FORM 1 -->
		<div class="container-fluid" id="signupFormContainer1">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					<div class="row" id="dotContainer1">
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot1"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot2"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot3"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot4"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot5"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="dot6"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupForm1" class="input-group input-group-lg">
						<!-- Build first form here -->
						<div class="col-lg-6">
							<input id="signupFirstName" type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="col-lg-6">
							<input id="signupLastName" type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupNextBtn1">
						<h4 id="signupNextBtnText1">Next Button</h4>
					</div>
				</div>
			</div>
		</div>

	<!-- FORM 2 -->
		<div class="container-fluid" id="signupFormContainer2">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					<div class="row"  id="dotContainer2">
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot1"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot2"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot3"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot4"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot5"></div>
						<div class="col-lg-2 dot col-md-2 col-sm-2 col-xs-2" id="2dot6"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
					<div id="signupForm2">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " id="signupRenterBtn">
							<h3> Renter</h3>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " id="signupLandlordBtn">
							<h3> Landlord</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3 col-sm-6 col-xs-6 col-md-6">
					<div id="signupNextBtn2">
						<h4 id="signupBackBtnText2">Back Button</h4>
					</div>
				</div>
				<div class="col-lg-3 col-lg-offset-0 col-sm-6 col-xs-6 col-md-6">
					<div id="signupNextBtn2">
						<h4 id="signupNextBtnText2">Next Button</h4>
					</div>
				</div>
			</div>
		</div>



			<div id="signupForm3"></div>
			<div id="signupForm4"></div>
			<div id="signupForm5"></div>
			<div id="signupForm6"></div>
	</body>
</html>