body {
	background: url("../images/Mango-Soup.jpg") no-repeat;
}

/*.relative{
	position: relative;
}
*/
/* 6 forms stacked, only one visible. As the user progresses make more visible*/

/*FORM 1*/
#signupForm1 {
	background: gray;
	height: 400px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	visibility: visible;
	z-index: 6;
}

#signupNextBtn1 {
	text-align: center;
	color: black;
	position: absolute;
	margin-top: 405px;
	height: 50px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: gray;
	z-index: 6;
}

#signupNextBtn1:hover {
	background: white;
	cursor: pointer;
}

#signupNextBtnText1 {
	padding: 0px;
	font-size: 1.5em;
}

/* FORM 2*/
#signupForm2 {
	background: white;
	height: 400px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	visibility: visible;
	z-index: 5;
}

#signupNextBtnText2 {
	visibility: visible;
	text-align: center;
	color: black;
	position: absolute;
	margin-top: 405px;
	height: 50px;
	width: 100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0px;
	background: white;
	z-index: 5;
	width: 100%;
	float:right;
	font-size: 1.5em;
}

#signupBackBtnText2 {
	visibility: visible;
	text-align: center;
	color: black;
	position: absolute;
	margin-top: 405px;
	height: 50px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	background: white;
	z-index: 5;
	width: 98%;
	float:left;
	font-size: 1.5em;
}

#signupNextBtnText2:hover {
	background: gray;
	cursor: pointer;
}

#signupBackBtnText2:hover {
	background: gray;
	cursor: pointer;
}

/* FORM 3*/
#signupForm3 {
	position: absolute;
	visibility: hidden;
	z-index: 4;
}

#signupForm4 {
	position: absolute;
	visibility: hidden;
	z-index: 3;
}

#signupForm5 {
	position: absolute;
	visibility: hidden;
	z-index: 2;
}

#signupForm6 {
	position: absolute;
	visibility: hidden;
	z-index: 1;
}